<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">logs/cloudServerLog</Property>
        <Property name="consolePattern">%-23d-[%-10t]%highlight{[%-5level]}{FATAL=red, ERROR=red, WARN=yellow}  %m ====> %l %n</Property>
        <Property name="filePattern">%-23d-[%t] [%-5level] %m ====> %l %n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consolePattern}"/>
        </Console>
        <!--<RollingFile name="infoRollingFile" fileName="${sys:catalina.home}/${logPath}/cloudServer_info.log"-->
                     <!--filePattern="${sys:catalina.home}/${logPath}/$${date:yyyy-MM}/cloudServer_info-%d{yyyy-MM-dd}-%i.log.gz">-->
            <!--<PatternLayout pattern="${filePattern}" />-->
            <!--<Policies>-->
                <!--<SizeBasedTriggeringPolicy size="60 MB"/>-->
            <!--</Policies>-->
            <!--<DefaultRolloverStrategy max="20"/>-->
        <!--</RollingFile>-->
        <!--<RollingFile name="errorRollingFile" fileName="${sys:catalina.home}/${logPath}/cloudServer_warn.log"-->
                     <!--filePattern="${sys:catalina.home}/${logPath}/$${date:yyyy-MM}/cloudServer_warn-%d{yyyy-MM-dd}-%i.log.gz">-->
            <!--<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout pattern="${filePattern}" />-->
            <!--<Policies>-->
                <!--<SizeBasedTriggeringPolicy size="10 MB"/>-->
            <!--</Policies>-->
            <!--<DefaultRolloverStrategy max="7"/>-->
        <!--</RollingFile>-->
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="infoRollingFile"/>-->
            <!--<AppenderRef ref="errorRollingFile"/>-->
        </Root>
    </Loggers>
</Configuration>
